<div class="text-center bg-light p-4" id="acerca">
  <h1>Nuestra Familia</h1>
  <p class="parrafo">
    Somos los Geraldo Lamarche, una familia amorosa que cree en crear recuerdos, compartir aventuras y apoyarse
    mutuamente
    durante
    el hermoso viaje de la vida.
  </p>
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-4"><img src="img/familia2.jpg" alt="" class="rounded" width="500rem"></div>
    <div class="col-md-4 p-2">
      <h2>Nuestra Historia</h2>
      <p class="parrafo">Angel y Kelly se conocieron en la universidad y han sido inseparables desde entonces. Tras
        casarnos en 2015, dimos la bienvenida a nuestros dos hermosos hijos, Emma y Jake. Nos encanta viajar, cocinar
        juntos y crear recuerdos imborrables en familia.</p>
      <h3 class="text-2xl font-semibold text-gray-800 mb-3">Nuestros Valores</h3>
      <div class="flex flex-wrap gap-2">
        <span class="bg-danger m-1 text-white  p-1 rounded h6">Amor</span>
        <span class="bg-success m-1 text-white  p-1 rounded h6">Aventura</span>
        <span class="bg-info m-1 text-white  p-1 rounded h6">Amabilidad</span>
        <span class="bg-warning m-1 text-white  p-1 rounded h6">Crecimiento</span>
        <span class="bg-primary m-1 text-white  p-1 rounded h6">Unión</span>
        <span class="bg-success m-1 text-white  p-1 rounded h6">Fe Cristiana</span>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>