<div class="encabezado">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><span class="h1 mx-2">❤️Familia Geraldo Lamarche</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#acerca">Acerca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#galeria">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#eventos">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactos">Contactos</a>
        </li>
      </ul>
    </div>

  </nav>
</div>
<div class="central">
  <img src="img/logo.png" class="imagen border-5 border-success" width="500rem" />
  <h1> Bienvenidos a Nuetra Familia</h1>
  <p class="parrafo">Nuetros viajes, memorias, y amor con nuestros amigos y familiares alrededor del mundo</p>
</div>