.imagen {
  border-radius: 75%;
  border: 1px black solid;
}

.central {
  text-align: center;
}

.encabezado {
  margin: 0px;
  padding: 0px;
  font-size: 26px;
}

.parrafo {
  font-size: 24px;
  color: grey;
}

